.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.event-indicator {
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}

:host ::ng-deep {
  .monthview-primary-with-event {
    background-color: white !important;
  }

  .monthview-selected {
    background-color: white !important;
  }
}

.with-event {
  background-color: white;
  border-radius: 15px;
}
.input{
  margin: 5px;
  border: 2px solid;
  border-radius: 4px;

  border-color:  #0093d2;
  --border-width: 0;
  --inner-border-width: 0;

}
