<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/selection"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;" >Resubmission</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
       <ion-item class="padding">
         <ion-label  style="white-space: pre-wrap !important;"><strong>Resubmission Date:</strong></ion-label>
       </ion-item>
     </ion-col>
     <ion-col size="6">
       <ion-item class="input">

         <ion-select interface="popover" placeholder="Select Date" (ionChange)="resubDateChange($event)">
           <ion-select-option  *ngFor="let item of resubmissionDateList" [value]="item">
             {{item.tracking_date}}</ion-select-option>
         </ion-select>        </ion-item>
     </ion-col>
   </ion-row>
  <ion-row *ngIf="isdate">
    <ion-col size="6">
       <ion-item class="padding">
         <ion-label  style="white-space: pre-wrap !important;"><strong>Project:</strong></ion-label>
       </ion-item>
     </ion-col>
     <ion-col size="6">
       <ion-item class="input">

         <ion-select interface="popover" placeholder="Select Project" (ionChange)="projectChange($event)" value="{{project}}">
           <ion-select-option  *ngFor="let project of projectList" [value]="project.project_id">
             {{project.project_name}}</ion-select-option>
         </ion-select>        </ion-item>
     </ion-col>
   </ion-row>

   <ion-row   *ngIf="isdate">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label style="white-space: pre-wrap !important;" > <strong>Login Type	</strong>  </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-select  interface = "popover" placeholder="Select " (ionChange)="logintypeChange($event)">
          <ion-select-option value="Site">Site</ion-select-option>
          <ion-select-option value="Office">Office</ion-select-option>

        </ion-select>

        </ion-item>
    </ion-col>
  </ion-row>



  <ion-row *ngIf="isdate" >
    <ion-col size="12">
      <ion-item class="input">

        <ion-label style="white-space: pre-wrap !important;"><strong>Login Time </strong></ion-label>


        <ion-input value="{{ loginTime | date: 'dd-MM-yyyy hh:mm' }}" id="loginTime" >
        </ion-input>
        <ion-popover trigger="loginTime" size="cover" [dismissOnSelect]="true" >
          <ng-template>
            <ion-datetime displayFormat="h:mm A"  [(ngModel)]="loginTime"   (ngModelChange)="getResopnseWithPermission()" [min]="resubmitDate" [max]="resubmitDate"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

    </ion-col>


  </ion-row>

  <ion-row *ngIf="isdate">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label style="white-space: pre-wrap !important;" > <strong>Logout Type	</strong>  </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-select  interface = "popover" placeholder="Select " (ionChange)="logouttypeChange($event)">
          <ion-select-option value="Site">Site</ion-select-option>
          <ion-select-option value="Office">Office</ion-select-option>

        </ion-select>

        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isdate" >
    <ion-col size="12">
      <ion-item class="input">

        <ion-label style="white-space: pre-wrap !important;"><strong>Logout Time </strong></ion-label>


        <ion-input value="{{ logoutTime | date: 'dd-MM-yyyy hh:mm' }}" id="logoutTime" >
        </ion-input>
        <ion-popover trigger="logoutTime" size="cover"  [dismissOnSelect]="true" >
          <ng-template>
            <ion-datetime displayFormat="h:mm A"  [(ngModel)]="logoutTime"  (ngModelChange)="getResopnseWithPermission1()"  [min]="resubmitDate" [max]="resubmitDate" ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

    </ion-col>


  </ion-row>

  <ion-row  *ngIf="isdate">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>  Upload Photo</strong></ion-label>
      </ion-item>

    </ion-col>

    <ion-col size="4">



      <img  #previewimage>




    </ion-col>

    <ion-col size="2">

      <ion-button title="camera" (click)="locationcheck()">
        <ion-icon  name="camera" ></ion-icon>
        </ion-button>
    </ion-col>


  </ion-row>

  <ion-row >
    <ion-col size="6">
      <ion-button style="text-transform: none;" (click)="submit()" expand="block" >Resubmit            </ion-button>
    </ion-col>

        <ion-col size="6">
      <ion-button style="text-transform: none;" (click)="cancel()" expand="block" >Cancel            </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
